.search-container {
  width: 95%;
  max-width: 700px;
  margin: auto;
  padding: 5% 0;
}

.search-controls {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.search-bar {
  width: 80%;
  font-size: var(--large-font-size);
  padding: 0.5em;
  border: 1px solid black;
  border-radius: 8px;
}

.search-btn {
  font-size: var(--large-font-size);
  padding: 0.5em 1em;
  cursor: pointer;
  background-color: var(--light-blue);
  color: white;
  border: 1px solid white;
  border-radius: 8px;
}

.status-text {
  font-size: var(--default-font-size);
  margin: 0;
  padding: 0.5em 0.5em;
}

pagination-controls {
  text-align: center;
}