$user-overview-padding: 1em;
$img-size: 100px;
$text-left-padding: 2em;

.user-overview-container {
  display: flex;
  padding: $user-overview-padding;
}

.user-profile-img {
  max-width: $img-size;
  max-height: $img-size;
  border-radius: 4px;
}

.text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: var(--default-font-size);
  height: $img-size;
}

.push-right {
  padding-left: $text-left-padding;
  width: 100%;
}

.space-apart {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.expand-collapse-btn {
  align-self: center;
  padding: 5%;
  font-size: 2em;
  color: var(--light-blue);
  cursor: pointer;
}